@page "/ContainersEverywhere"
@inject StateContainer<StateMessage> _MessageStateContainer;
@inject NameStateContainer _NameStateContainer;
@inject UseCaseFetchMessage UseCaseFetchMessage;

@using BlazorState.UI.Pages.Container
@implements IDisposable

<h3>Containers Everywhere</h3>

<div style="border: 1px solid darkslategrey; padding: 16px;">
    <h2>Name things</h2>
    <br><br>
    <h4>Name is currently @(_NameStateContainer.Name)</h4>
    <button class="btn btn-primary" @onclick="RandomizeName">Randomize Name</button>
</div>
<br>
<div style="border: 1px solid darkslategrey; padding: 16px;">
    <h2>Server message things</h2>
    <br><br>
    @if (MsgState.Loading)
    {
        <div style="margin: auto; width: 64px; height: 64px; background-image: url('/spinner.svg'); background-size: cover;"></div>
    }
    else if (MsgState.Error != null)
    {
        <h4>Request failed with error: @(_MessageStateContainer.State.Error)</h4>
        <button class="btn btn-primary" @onclick="FetchMessage">Try again</button>
    }
    else
    {
        <h4>@(MsgState.Message ?? "No messages, maybe try fetching one")</h4>
        <button class="btn btn-primary" @onclick="FetchMessage">Fetch Message</button>
    }
</div>

@code {

    StateMessage MsgState => _MessageStateContainer.State;
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _NameStateContainer.OnChange += StateHasChanged;
        _MessageStateContainer.OnChange += StateHasChanged;
    }
    public void Dispose()
    {
        _NameStateContainer.OnChange -= StateHasChanged;
        _MessageStateContainer.OnChange -= StateHasChanged;
    }
   
    void RandomizeName()
    {
        _NameStateContainer.Name = RandomNameHelper.GetRandomName();
    }

    Task FetchMessage()
    {
        return UseCaseFetchMessage.Execute();
    }
}